{% extends 'base.html' %}

{% block content %}


<br/>
{% if api %}
   <form action ="{% url 'home' %}" class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Enter place" aria-label="Search" name="search_place">
      <button type="button" class="btn btn-success"> Find </button> 
    </form><br/>
    {% if api == "Error..." %}
        
        <div class="jumbotron">
            <h1><u><b>{{ place }}</b></u> - Not Found</h1><br/>
            <h5>Name not found or There is an error in spelling <br/>Try again.... </h5>
          
        </div>

    {% else %}
        <div class="jumbotron">
            <h1><b>{{ place }},{{ api_con }}</b></h1><br/>
            <h1 class="display-4">Present State : <b>{{desc}}</b></h1><br/>
            <p class="lead">Current Temperature :<b> {{temp}}°C</b></p>
          
        </div>


       
    {% endif %}
{% endif %}
{% endblock %}
